#version: '3.8'  # Or your preferred version
#
#networks:
#  shared-comms-network:
#
#volumes:
#  prometheus-data:
#    driver: local
#  grafana_data:
#    driver: local
#
#services:
#  prometheus:
#    image: prom/prometheus
#    ports:
#      - "9090:9090"
#    volumes:
#      - ./prometheus.yml:/etc/prometheus/prometheus.yml
#      - prometheus-data:/prometheus
#    restart: unless-stopped
#    networks:
#      - shared-comms-network  # Add this line to connect to the network
#
#  grafana:
#    image: grafana/grafana-oss
#    ports:
#      - "3000:3000"
#    container_name: grafana
#    volumes:
#      - grafana_data:/var/lib/grafana
#    restart: unless-stopped
#    networks:
#      - shared-comms-network  # Add this line to connect to the network
#
#  loki:
#    image: grafana/loki
#    ports:
#      - "3100:3100"
#    container_name: loki
##    volumes:
##      - ./loki-config.yaml:/etc/loki/local-config.yaml
#    restart: unless-stopped
#    networks:
#      - shared-comms-network  # Add this line to connect to the network
version: '3.8'

networks:
  shared-comms-network:

volumes:
  prometheus-data:
    driver: local
  grafana_data:
    driver: local

services:
  prometheus:
    image: prom/prometheus
    ports:
      - "9091:9090"  # Change the host port to 9091 to avoid conflicts
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml  # Ensure this path is correct
      - prometheus-data:/prometheus
    restart: unless-stopped
    networks:
      - shared-comms-network

  grafana:
    image: grafana/grafana-oss
    ports:
      - "3000:3000"
    container_name: grafana
    volumes:
      - grafana_data:/var/lib/grafana
    restart: unless-stopped
    networks:
      - shared-comms-network

  loki:
    image: grafana/loki
    ports:
      - "3100:3100"
    container_name: loki
    restart: unless-stopped
    networks:
      - shared-comms-network

  express-backend-server:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3001:3001"
    restart: unless-stopped
    networks:
      - shared-comms-network
    environment:
      - MONGO_URI=mongodb+srv://raj:NwAXvGMLWpVGFIs2@cluster0.v1bry.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
      - PORT=3001
